body {
  background-color: #e6f2ff;
}

#App {
  text-align: center;
}

.status {
  background-color: #000000;
  color: #00ff00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
