body {
  background-color: #ffffff;
}

#header {
  text-align: center;
}

#main {
  display: flex;
}

#left {
  flex: 1;
  margin-left: 20px;
  margin-right: 10px;
}

#canvas {
  flex: 2;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#right {
  flex: 1;
  margin-right: 20px;
  margin-left: 10px;
}

.status {
  background-color: #000000;
  color: #00ff00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}


