body {
  background-color: #e6f2ff;
}

#App {
}

#header {
  text-align: center;
}

#main {
  display: flex;
}

#left-bar {
  flex: 1;
}

#canvas {
  flex: 3;
}

.status {
  background-color: #000000;
  color: #00ff00;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
